.container.well
	.col-md-6
		- if current_user
			- if current_user.admin
				%table.table.table-striped
					%tr
						%th User Name
						%th Email Address
						%th Admin?

					- @users.each do |user|
						%tr
							%td= link_to user.username, user_path(user.id)
							%td= user.email
							%td= user.admin

				= link_to "New User", new_user_path, :class => "btn btn-default"
			- else
				%h3 You must be an administrator to access this page.
		- else
			%h3 Please log in to continue.