.container.well
	.col-md-6
		- if current_user
			- if current_user.admin
				%table.table.table-striped
					%tr
						%th Email Address
						%th Admin?
					- @users.each do |user|
						%tr
							%td= user.email
							%td= user.admin

				= link_to "New User", new_user_path, :class => "btn btn-default"